version: '3.3'

services:
  db:
    container_name: foodgram-db
    image: postgres:14.8-bullseye
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env
    restart: always

  frontend:
    container_name: foodgram-frontend
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/

  backend:
    container_name: foodgram-backend
    build: ../backend
    restart: always
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    env_file:
      - ../.env
    depends_on:
      - db

  nginx:
    container_name: foodgram-nginx
    image: nginx:1.25.3-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf.local:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../backend/data/docs/:/usr/share/nginx/html/api/docs/
      - static_value:/etc/nginx/html/static/
      - media_value:/etc/nginx/html/media/
    depends_on:
      - backend
      - frontend

volumes:
  static_value:
  media_value:
  postgres_data: